{% extends "base.html" %}
{% block content %}
<form id="convert-form" class="col-md-8 mb-6" method="post">
    <div class="input-group">
        <div class="mb-3">
            <input type="text"
                   class="form-control rounded-0"
                   id="amount1"
                   name="amount1"
                   required placeholder="Enter amount"
                   value="{{ amount|default('', true) }}">
        </div>
        <div class="col-md-3 mb-3">
            <select class="form-select rounded-0" id="currency1" name="currency1">
                {% for symbol, name in currencies.items() %}
                    <option value="{{ symbol }}" {% if symbol == currency1 %}selected{% endif %}>
                        {{ symbol }} - {{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="input-group">
        <div class="mb-3">
            <input type="text"
                   class="form-control rounded-0"
                   id="result"
                   name="result"
                   readonly
                   placeholder="Result amount"
                   value="{{ result|default('', true) }}">
        </div>
        <div class="col-md-3 mb-3">
            <select class="form-select rounded-0" id="currency2" name="currency2">
                {% for symbol, name in currencies.items() %}
                    <option value="{{ symbol }}" {% if symbol == currency2 %}selected{% endif %}>
                        {{ symbol }} - {{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark rounded-0 mt-3">Convert</button>
</form>
{% endblock %}
